# Review owner for all sources and repository settings.
* @abhinavnandwani @zebulontaylor
/rtl/compute/ @abhinavnandwani @zebulontaylor
/rtl/control/ @abhinavnandwani @zebulontaylor
/rtl/memory/ @abhinavnandwani @zebulontaylor
/rtl/common/ @abhinavnandwani @zebulontaylor
